.close-inner-wrapper {
  display: flex;
  justify-content: flex-end;
}

.close-outter-wrapper {
  position: sticky;
  top: 0;
  background-color: rgb(245, 243, 247);
  z-index: 1;
  padding: 4px;
}

.chat-wrapper {
  position: relative;
  overflow: hidden;
  height: calc(100% - 4px);;
}

.inner-chat-wrapper {
  max-height: calc(100% - 46px); 
  overflow: auto;
  padding: 0 16px;
}