.header {
  padding: 16px 16px 0 34px;
  box-shadow: 0 5px 5px #4d7298ff;
  display: block;
  height: 110px;
}

.form-field-full {
  width: 100%;
  min-width: 600px;
  max-width: 800px;
}

.lg-icon-wrapper {
  height: 110px;
  width: 110px;
}

.icon-display {
  transform: scale(1.5);
}

.icon-large {
  transform: scale(5);
  //transform-origin: top left;
  transform-origin: 2px 3px;
}

.ucla-blue {
  color: rgba(77, 114, 152, 1);
}

.header-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  padding: 16px 16px 0 34px;
}

.address-wrapper {
  padding-bottom: 19px;
}
