<div style="display: flex; width: 100%;" [style.justifyContent]="isUser ? 'end' : 'start'">
  <div style="width: 80%">


    <mat-card *ngIf="isUser" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="human-image"></div>
      </mat-card-header>
      <mat-card-content>
        <div
          *ngIf="thought && $any(thought['content'])[0]['text']"
          [innerText]='thought && $any(thought["content"])[0]["text"]'></div>
        <div
          *ngIf="thought && $any(thought['content'])[0]['options']"
          class="example-button-row"
        >
          <button
            *ngFor="let option of $any(thought['content'])[0]['options']"
            (click)="continue(option)"
            mat-flat-button>
          {{option}}</button>
          <button *ngIf="!$any(thought['content'])[0]['options'] || $any(thought['content'])[0]['options'].length === 0"
                  (click)="continue('confirm')"
                  mat-flat-button>
            continue
          </button>
      </div>
      </mat-card-content>
    </mat-card>

    <div *ngIf="!isUser">

      <mat-card appearance="outlined">

        <mat-card-header>
          <div mat-card-avatar class="ai-image"></div>
        </mat-card-header>

        <div *ngFor="let thought of thoughtOrder">
          <div *ngIf="thoughtMap.get(thought)?.display">
            <mat-card-content *ngIf="!thoughtMap.get(thought)?.directToolResult && thoughtMap.get(thought)?.aiResponse">
              <div [innerText]='thoughtMap.get(thought)?.aiResponse'></div>
            </mat-card-content>
          </div>
        </div>
        <mat-card-content *ngIf="toolUseIbProgress">
          <div class="loading">Working</div>
        </mat-card-content>

      </mat-card>

    </div>
  </div>


</div>
