
<app-header></app-header>
<main class="main">
  <app-tool-results></app-tool-results>
  <router-outlet />
</main>


<!-- [style.right]="isOpen ? '-64px' : '24px'" -->
<div
  style="position: absolute; right: 24px; bottom: 24px; background-color: rgb(188, 188, 188); border-radius: 48px; cursor: pointer; user-select: none; transition: all 300ms;"
  (click)="open()"
>
  <!-- <button>Open</button> -->
  <div style="height: 48px; width: 48px; display: flex; justify-content: center;">
    <div style="justify-content: center; display: flex; flex-direction: column;">
      CHAT
    </div>

  </div>
</div>
