.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-button-wrapper {
  position: absolute; 
  right: 24px; 
  bottom: 8px;
  position: sticky;
  display: flex;
  justify-content: end;
  width: calc(100% - 4px);
}